In [53]:
import requests
import pandas as pd
import numpy as np
from collections import OrderedDict
import time
from tqdm import tqdm

# Get Ticker Data from Alpha Vantage API

In [54]:
# Get ticker data from alpha vantage api
tickers = ['aapl', 'msft', 'amzn', 'fb', 'googl']

# Get API key from file
api_file = 'api_key.txt'
api_key = ''
with open(api_file) as f:
    api_key = f.readline()

for ticker in tqdm(tickers):
    # Create API call URL
    url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={}&outputsize=full&apikey={}'
    url = url.format(ticker, api_key)
    
    # Make API call
    r = requests.get(url)
    r.json()
    
    # Create OrderedDict out of data
    price_dict = OrderedDict(r.json()['Time Series (Daily)'])
    
    # Keys aren't naturally date-sorted. Do that here.
    s_list = list(price_dict.keys())
    s_list.sort()
    sorted_dict = OrderedDict()
    for key in s_list:
        sorted_dict[key] = price_dict[key]
        
    # Create dataframe from dictionary
    df = pd.DataFrame.from_dict(sorted_dict, orient='index')

    # Rename, then reorder columns
    df.columns = ['low', 'open', 'volume', 'split_coeff', 'close', 'dividend_amount', 'high', 'adj_close']
    df = df.loc[:, ['open', 'high', 'low', 'close', 'adj_close']]
    
    # Save ticker data to csv
    filename = '{}_extended.csv'.format(ticker)
    data_dir = './data/'
    df.to_csv(data_dir + filename)
    
    # Can only make 5 calls per min, so if more than 5 tickers, sleep
    if len(tickers) > 5:
        time.sleep(12)

100%|██████████| 5/5 [00:32<00:00,  7.44s/it]

# How to Read from CSVs

In [64]:
df = pd.read_csv('./data/googl_extended.csv', index_col=0)
df

                open     high      low     close  adj_close
2004-08-19   100.010   104.06    95.96   100.335    50.3228
2004-08-20   101.010   109.08   100.50   108.310    54.3227
2004-08-23   110.760   113.48   109.05   109.400    54.8694
2004-08-24   111.240   111.60   103.57   104.870    52.5974
2004-08-25   104.760   108.00   103.88   106.000    53.1641
2004-08-26   104.950   107.95   104.66   107.910    54.1221
2004-08-27   108.100   108.62   105.69   106.150    53.2393
2004-08-30   105.280   105.49   102.01   102.010    51.1629
2004-08-31   102.320   103.71   102.16   102.370    51.3435
2004-09-01   102.700   102.97    99.67   100.250    50.2802
2004-09-02    99.090   102.37    98.94   101.510    50.9122
2004-09-03   100.950   101.74    99.32   100.010    50.1598
2004-09-07   101.010   102.00    99.61   101.580    50.9473
2004-09-08   100.740   103.03   100.50   102.300    51.3084
2004-09-09   102.500   102.71   101.00   102.310    51.3134
2004-09-10   101.470   106.56   101.30   105.330    52.8281
2004-09-13   106.630   108.41   106.46   107.500    53.9164
2004-09-14   107.440   112.00   106.79   111.490    55.9176
2004-09-15   110.560   114.23   110.20   112.000    56.1734
2004-09-16   112.340   115.80   111.65   113.970    57.1615
2004-09-17   114.420   117.49   113.55   117.490    58.9269
2004-09-20   116.950   121.60   116.77   119.360    59.8648
2004-09-21   120.200   120.42   117.51   117.840    59.1024
2004-09-22   117.450   119.67   116.81   118.380    59.3733
2004-09-23   118.840   122.63   117.02   120.820    60.5971
2004-09-24   120.970   124.10   119.76   119.830    60.1005
2004-09-27   119.560   120.88   117.80   118.260    59.3131
2004-09-28   121.150   127.40   120.21   126.860    63.6264
2004-09-29   126.530   135.02   126.23   131.080    65.7429
2004-09-30   129.899   132.30   129.00   129.600    65.0007
...              ...      ...      ...       ...        ...
2019-02-19  1116.640  1129.64  1116.64  1126.510  1126.5100
2019-02-20  1128.880  1130.93  1111.75  1120.590  1120.5900
2019-02-21  1118.780  1119.15  1097.98  1104.210  1104.2100
2019-02-22  1109.700  1117.25  1100.50  1116.560  1116.5600
2019-02-25  1121.930  1125.40  1114.11  1117.330  1117.3300
2019-02-26  1114.370  1126.43  1106.70  1122.010  1122.0100
2019-02-27  1114.010  1125.73  1108.56  1122.890  1122.8900
2019-02-28  1119.000  1133.99  1118.41  1126.550  1126.5500
2019-03-01  1131.000  1150.00  1131.00  1148.520  1148.5200
2019-03-04  1154.560  1165.52  1138.25  1153.420  1153.4200
2019-03-05  1156.000  1176.49  1153.02  1169.190  1169.1900
2019-03-06  1171.760  1174.74  1163.05  1164.940  1164.9400
2019-03-07  1160.500  1163.58  1141.71  1150.850  1150.8500
2019-03-08  1133.900  1153.45  1130.20  1149.970  1149.9700
2019-03-11  1152.000  1179.91  1151.57  1179.260  1179.2600
2019-03-12  1182.300  1205.71  1182.30  1197.250  1197.2500
2019-03-13  1205.930  1207.12  1197.91  1199.060  1199.0600
2019-03-14  1199.020  1204.70  1191.23  1192.530  1192.5300
2019-03-15  1198.000  1201.72  1187.01  1190.300  1190.3000
2019-03-18  1189.690  1194.95  1181.48  1188.550  1188.5500
2019-03-19  1191.720  1203.40  1189.46  1202.460  1202.4600
2019-03-20  1201.400  1229.99  1199.59  1226.430  1226.4300
2019-03-21  1220.000  1236.44  1216.58  1236.130  1236.1300
2019-03-22  1228.850  1233.63  1206.00  1207.650  1207.6500
2019-03-25  1199.560  1209.44  1190.00  1197.380  1197.3800
2019-03-26  1205.190  1207.65  1181.76  1189.840  1189.8400
2019-03-27  1191.920  1191.92  1164.23  1178.010  1178.0100
2019-03-28  1175.500  1177.25  1163.43  1172.270  1172.2700
2019-03-29  1180.180  1183.97  1166.38  1176.890  1176.8900
2019-04-01  1187.540  1199.25  1186.39  1194.700  1194.7000

[3679 rows x 5 columns]